<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="APE"
            name="Model Tree"/>
      <view
            allowMultiple="false"
            category="APE"
            class="org.tigris.ape.views.ModelTree.ModelTreeView"
            icon="icons/Astade.png"
            id="ape.views.ModelTree.ModelTreeView"
            name="Model Tree"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.tigris.ape.preferences.PreferencePage"
            id="ape.preferences.PreferencePage"
            name="APE"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.tigris.ape.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <showInPart id="ape.views.ModelTree.ModelTreeView"/>
         <viewShortcut id="ape.views.ModelTree.ModelTreeView"/>
         <view
               closeable="true"
               id="ape.views.ModelTree.ModelTreeView"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.cdt.ui.CView"
               showTitle="true"
               standalone="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>

</plugin>
