[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Astade-Draw
Type=Application
Terminal=false
Exec=AstadeDraw %f
Icon=Astade-Draw
MimeType=application/Astade-Draw;
Categories=Graphics;Development;
GenericName=UML drawing tool
Comment=A UML drawing tool
Comment[de]=Ein Programm zum Zeichnen von UML Diagrammen
