[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Astade-Draw
Type=Application
Terminal=false
Exec=AstadeDraw %f
Comment=A UML drawing tool
Icon=Astade-Draw
MimeType=Astade-Draw;
Categories=Development;
