ICO00 ICON "../icons/Astade.ico"
ICO01 ICON "../icons/Model.ico"
ICO02 ICON "../icons/package.ico"
ICO03 ICON "../icons/file.ico"
ICO04 ICON "../icons/components.ico"
ICO05 ICON "../icons/class.ico"
ICO06 ICON "../icons/component.ico"
ICO07 ICON "../icons/attribute.ico"
ICO08 ICON "../icons/operation.ico"
ICO09 ICON "../icons/configuration.ico"
ICO10 ICON "../icons/target.ico"
ICO11 ICON "../icons/privAttr.ico"
ICO12 ICON "../icons/protAttr.ico"
ICO13 ICON "../icons/attributes.ico"
ICO14 ICON "../icons/operations.ico"
ICO15 ICON "../icons/parameters.ico"
ICO16 ICON "../icons/classes.ico"
ICO17 ICON "../icons/parameter.ico"
ICO18 ICON "../icons/privop.ico"
ICO19 ICON "../icons/protop.ico"
ICO20 ICON "../icons/const.ico"
ICO21 ICON "../icons/privconst.ico"
ICO22 ICON "../icons/protconst.ico"
ICO23 ICON "../icons/dest.ico"
ICO24 ICON "../icons/privdest.ico"
ICO25 ICON "../icons/protdest.ico"
ICO26 ICON "../icons/relation.ico"
ICO27 ICON "../icons/relations.ico"
ICO28 ICON "../icons/inrelation.ico"
#include <wx/msw/wx.rc>

